<% @title="Recommenddit - About" %>
<div class="container">
	<h1>About</h1>
	<p class="lead">
	<!-- 80 characters max per line -->
		Recommenddit is a project created by Antonio Regis and Patrick Villanueva.
	</p>
    <p class="lead">
        This web application is created by Redditors for Redditors. There are 17,316<br>
        subreddits to date and only a few make the front page. Recommenddit simplifies<br>
        exploring the depths of Reddit and find other Redditors who may share your<br>
        interests.
    </p>
	<p class="lead">
		Recommenddit is a completely independent web application and is in no<br>
		way affiliated with Reddit.com or its employees.
	</p>
</div>