<% @title="Recommenddit - Contact" %>
<div class="container">
	<h1>Contact</h1>
	<h3>Antonio Regis</h3>
	<p class="lead">
		<%= link_to "Email", "mailto:adregisjr@dons.usfca.edu" %><br>
		<%= link_to "LinkedIn", "https://www.linkedin.com/pub/antonio-regis/44/84a/750" %>
	</p>
	<h3>Patrick Villanueva</h3>
	<p class="lead">
		<%= link_to "Email", "mailto:psvillanueva@usfca.edu" %><br>
		<%= link_to "LinkedIn", "http://www.linkedin.com/pub/patrick-villanueva/56/444/a94" %>
	</p>
</div>
