<% @title="Recommenddit - Home" %>
    <div class="container">

      <div class="home-text">
        <!-- <%= image_tag "/assets/images/reddit-logo.png", class: "reddit-logo" %> -->
        <h1>Welcome to Recommenddit</h1>
        <p class="lead">Find more of the things that interest you.</p>
      </div>
      <div class="sign-up">
        <%= render 'form' %>
      </div> <!-- /.container -->
