// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-text {
  padding: 40px 15px 0px 15px;
  text-align: center;
}

.reddit-logo {
	width: 30%;
	height: auto;
}

.sign-up {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

.option-text {
	text-align: center;
}